---
import { contentfulClient } from "../lib/contentful";
import type { Experience } from "../lib/contentful";
import Accordion from '../components/Accordion';
import Layout from '../layouts/Layout.astro'

const entries = await contentfulClient.getEntries<Experience>({
  content_type: "experience",
});

const {experiences = entries.items} = Astro.props
---

<Layout title="Experience | bensparrowdev" description="Hi, I'm Ben Sparrow, a software developer, and welcome to my portfolio website." bgText="self-proclaimed chef">
	<section class="container-lg mx-auto">
    <h1>Professional Experience.</h1>
    <div class="container-md">
      {experiences.map((item, i) => {
        const { title, company, location, root, link, description, techStack } = item.fields
        const { fields } = item.fields.logo
        return (
          i === 0 ? (
            <Accordion 
              title={title} 
              company={company} 
              logo={fields} 
              location={location} 
              root={root} 
              link={link}
              description={description} 
              techStack={techStack}
              isOpen
              client:load
            />
          ) : (
            <Accordion 
              title={title} 
              company={company} 
              logo={fields} 
              location={location} 
              root={root} 
              link={link}
              description={description} 
              techStack={techStack}
              client:load
            />
          )
        )
      })}
    </div>
	</section>
</Layout>